<h3>Create a new Band:</h3>

<%= form_for @band do |f|%>
  <br />
  <%= f.label :name, "Band Name: " %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :photo, "Upload your Band photo" %><br />
  <%= f.file_field(:photo) %>
  <br />
  <%= f.submit "Create Band"  %>

<% end %>