<h2>
  <%="Welcome to #{@band.name}'s Band Page"%>
</h2>
<hr />

<%= render "shared/nav_links" %>
<%= render "action_links" %>

<h3>Vital Stats:</h3>
<h4>
  CURRENT PICTURES <br />
  <% if @band.artists.nil? %>
    <%=  ">> This band needs musicians!" %>
  <% else %>
      <%= ">> Current Members: " %>
      <%= render @band.artists %>
    <% end %>
</h4>
<h4>
  <%= ">> Recorded #{@band.num_distinct_recordings} distinct song(s)" %>
</h4>
<h4>
  <%= ">> Recorded #{@band.recordings.count} track(s)" %>
</h4>

<%= render "tracks_recorded" unless @band.recordings.count == 0 %>
