<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] %>
<%= flash[:error] %>
<% if flash[:notice] or flash[:error]  %>
  <br />
<% end %>
<%= render "shared/nav_links" %>
<%= yield %>

</body>
</html>
